.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 70, 70);
}

.leftSideMain {
    display: flex;
    flex-direction: column;
}

.formIngreso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}