* {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

.mainFormacion {
   display: flex;
   justify-content: center;
   align-items: center;
}

.suplentes {
   text-align: center;
   height: 50vh;
   width: 10vw;
   padding: 4rem;
   margin: 0 auto;
   background-color: rgb(97, 97, 97);
   border-radius: 2rem;
}

.txtSuplentes {
   display: flex;
   justify-content: center;
   align-items: center;
}

.cuerpoTecnico {
   text-align: center;
   height: 50vh;
   width: 10vw;
   padding: 4rem;
   margin: 0 auto;
   background-color: rgb(97, 97, 97);
   border-radius: 2rem;
}

.ctYsup {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: auto;
   margin-left: 5rem;
}

.ctFuncion {
   font-weight: bold;
}

.supNumero {
   font-weight: bold;
   background-color: blueviolet;
   width: 2rem;
   margin-right: 0.3rem;
}

.txtColor {
   color: white;
}

h2 {
   color: white;
   text-align: center;
   margin: 3rem;
}

.cancha {
   margin-top: 5rem;
   width: 41vw;
   height: 145vh;
   background-image: url(https://w0.peakpx.com/wallpaper/53/312/HD-wallpaper-soccer-field-soccer-pitch.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 15px;
}

.gridCancha {
   height: 100%;
   display: grid;
   grid-template-areas: "golero golero golero golero"
      "lateralDer centralDer centralIzq lateralIzq"
      "volanteDer medioDer medioIzq volanteIzq"
      "delanteroDer delanteroDer delanteroIzq delanteroIzq";
}

.posicion {
   display: flex;
   justify-content: center;
   flex-direction: column;
   color: white;
   text-align: center;
}

.golero {
   grid-area: golero;
}

.lateralDer {
   grid-area: lateralDer;
}

.lateralIzq {
   grid-area: lateralIzq;
}

.centralDer {
   grid-area: centralDer;
}

.centralIzq {
   grid-area: centralIzq;
}

.volanteDer {
   grid-area: volanteDer;
}

.volanteIzq {
   grid-area: volanteIzq;
}

.medioDer {
   grid-area: medioDer;
}

.medioIzq {
   grid-area: medioIzq;
}

.delanteroDer {
   grid-area: delanteroDer;
}

.delanteroIzq {
   grid-area: delanteroIzq;
}